html{
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.navbar .mid {
    display: flex;
    list-style-type: none;
    color: white;
}

.navbar .mid {
    list-style-type: none;
    display: flex;
    color: blue;
    justify-content: space-evenly;
}
 .mid ul  {
    text-decoration: none;
    list-style-type: none;
    color: blue;
    display: flex;
    
} 
.mid li a{
    text-decoration: none;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 10px;
    color: brown;
}


.end a{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
     text-decoration: none;
     background-color: aqua;
}



.navbar .start h1{
    color: aqua;
    font-family: sans-serif;
    font-weight: 100;
}