html {
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  bottom: 0;
}

.footer {
  padding: 70px;
  background: brown;
  bottom: 0;
  display: none;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: brown;
}

.row {
  content: "";
  display: flex;
  justify-content: space-evenly;
}

.footer1 {
  width: 25%;
  padding: 0 15px;
  color: white;
}
.footer1 h4 {
  font-size: 18px;
  color: blue;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  border-bottom: 5px solid red;
  width: 100px;
  border-radius: 2px;
  font-family: sans-serif;
}

.footer1 h4::before {
  position: absolute;
  content: "";
  bottom: -10px;
  height: 2px;
  width: 50px;
}

.footer1 ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer1 ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: brown;
  text-decoration: none;
  font-weight: 400;
  color: blue;
  display: block;
}

.footer1 .social-link i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.menu-btn i {
  color: white;
  font-size: 80px;

  cursor: pointer;
  margin-right: 100px;
}


#bars{
  display: none;
}


@media(max-width:1041px){
  .footer{
      display: none;
  }
  #bars{
      display: block;
  }

  #inputbox:checked~ .footer{
      display: block;
  }
  .row{
    display: block;

  }

  .footer .social-link{
    display: block;
  }
}



  


