html{
    overflow-x: hidden;
}

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    bottom: 0;
}

.footer{

    padding: 70px;
    border-top-left-radius: 125px;
    border-bottom-right-radius: 125px;
    background: linear-gradient(to right, #00093c, #2d0b00);
    bottom: 0;
}

ul{
    list-style: none;
}

li a{
    text-decoration: none;
    color: brown;
}

.row{
    content: '';
    display: flex;
    justify-content: space-evenly;
}

.footer1{
    width: 25%;
    padding: 0 15px;
    color: blue;


}
.footer1 h4{
    font-size: 18px;
    color:blue;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    border-bottom: 5px solid red;
    width: 100px;
    border-radius: 2px;
    font-family: sans-serif;
} 

.footer1 .h4 a:hover{
    color: red;
    background-color: #ffffff;
}


.footer1 h4::before{
    position: absolute;
    content: '';
    bottom: -10px;
    height: 2px;
    width: 50px;
} 

.footer1 ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer1 ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: brown;
    text-decoration: none;
    font-weight: 400;
    color:blue;
    display: block;
    /*transition: all 0.3s ease;*/
}

.footer1 ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}


.footer1 .social-link i{
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}


.footer1 .social-link i:hover{
    color: #24262b;
    background-color: #ffffff;
}




@media(max-width:767px){
    .footer1{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:574px){
    .footer1{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:1024px){
    .footer1{
        width: 100%;
        margin-bottom: 30px;
    }
}