

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid;
    width: 50%;
    height: 50vh;
    grid-gap:20px;
}

.grid div{
    border: 2px solid red;
    column-gap: 20%px;
    row-gap: 50px;
    width: 50%;
    height: 100%;
    margin: 20 0px;
    
}