*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: darkgreen;

}

h2{
    font-size: 6rem;
    color: #0e3742;
    text-decoration: uppercase;
    width: 100%;
    text-align: center;
    -wwebkit-box-reflect:below 0px l
}


span{
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%
    {
        color: #ffffff;
        text-shadow: none;
    }
    100%
    {
        color: #fff;
        text-shadow: 0 0 10px  aqua;
        0 0 10px  aqua;
        0 0 10px  aqua;
    }
}