ul{
    list-style-type: none;
}

#mainnav{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

#mainnav #nav1{
    display: flex;
}

#mainnav #nav1 li a{
    text-decoration: none;
    padding: 20px;
}

#mainnav #nav2{
    display: flex;
}

#mainnav #nav2 li a{
    text-decoration: none;
    padding: 20px;
}

#mainnav li img{
    width: 200px;
}


#bars{
    display: none;
}

#img1{
    display: none;
}

@media(max-width:1041px){
    .footer{
        display: none;
    }

    #bars{
        display: block;
    }

    #inputbox:checked~.footer{
        display: block;
    }

}






#hero{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
}

#hero div img{
    width: 100%;
}


#hero div{
    margin: 40px;
}




@media(max-width:769px){
    #hero{
         display: block;
         justify-content: center;
         margin: 50px;
    }
}



@media(max-width:426px){
    #hero div{
        
         margin: 0px;
    }
    #hero div img{
        width: 400px;
    }
}


#cards{
    width: 300px;
    height: 800px;
    overflow: hidden;
  }
  
  #cards .bar img{
  width: 300px;
  }

#cards{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto                 ;
                       ;
}


#cards .bar img{
    margin: 40px;
}



@media(max-width:426px){
    #cards{
        display: grid;
        grid-template-columns: auto  auto auto auto auto auto;
        overflow-x: scroll;
        width: 470px;
    }

    #cards img{
        margin: 10px;
        width: 200px;
    }

    #cards{
        -ms-overflow-style:none;
        scrollbar-width: none;
    }
}