ul{
    list-style-type: none;
}

#mainnav{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

#mainnav #nav1{
    display: flex;
}

#mainnav #nav1 li a{
    text-decoration: none;
    padding: 20px;
}

#mainnav #nav2{
    display: flex;
}

#mainnav #nav2 li a{
    text-decoration: none;
    padding: 20px;
}

#mainnav li img{
    width: 200px;
}


#bars{
    display: none;
}

#img1{
    display: none;
}

@media(max-width:1041px){
    .footer{
        display: none;
    }

    #bars{
        display: block;
    }

    #inputbox:checked~.footer{
        display: block;
    }

}

