* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:linear-gradient(#081b29,#0ef) ;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}


.formstart{
  margin-bottom: 24px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 300px;
}

.formstart h1{
  font-size: 24px;
  color: white;
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  font-weight: 500px;

}


.formstart h2{
  font-size: 18px;
  color: white;
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  font-weight: 500px;

}

.image{
    display: flex;
    overflow-x: hidden;
}

.wrapper {
  width: 500px;
  height: 60%;
  text-align: center;
  margin-right: 200px;
  background-color: purple;
  border: 2px solid rgba(255,255,255,.2);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  border-radius: 10px;
  backdrop-filter: (50px);
  color: #fff;
  padding: 30px 25px 45px;
  background: transparent;
  margin-top: 150px;
  overflow-x: hidden;
}

.wrapper h1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}

 .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: slateblue;
  background: transparent;
}
.input-box .input-field {
  position: relative;
  width: 48%;
  margin: 13px 0px;
}

.input-box .input-field input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 16px;
  color: #fff;
  border-radius: 6px;
  padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder {
  color: #fff;
}

.input-box .input-field i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(-50%);
  font-size: 20px;
  color: white;
}

.wrapper label {
  display: inline-block;
  font-size: 14px;
  margin: 10px 0px 23px;
}
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper label input {
  accent-color: #fff;
  margin-right: 5px;
}

.img{
  background: url(./background.jpg);
  width: 50%;
}

@media (max-width:576px){

  .image{
    width: 100%;
    align-items: center;
  }
    .input-box .input-field{
        width: 50%;
        margin: 10px 5px;
    }
    .image{
      display: block;
    }
    .wrapper{
      width: 100%;
      align-items: center;
    }
}







