* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  height: 80px;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 10px;
  border-radius: 5px;
}

nav .logo {
  font-size: 33px;
  color: #fff;
  font-weight: 600;
}

nav ul li {
  margin: 0 5px;
}

nav .menu-btn {
  color: #fff;
  font-size: 80px;
  cursor: pointer;
  display: none;
  float: right;
}

#click {
  display: none;
}

@media (max-width: 940px) {
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
  }
  nav ul li {
    margin: 40px 0;
  }

  #click:checked ~ ul {
    left: 0%;
  }

  nav ul li a {
    font-size: 24px;
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  nav .menu-btn {
    display: block;
    font-size: 50px;
  }
}
